  <!-- Header Section -->
  <header>
    <nav class="bg-indigo-500">
        <div class="max-w-screen-xl mx-auto flex justify-between items-center p-4">
            <a href="/admin/dashboard/" class="flex items-center">
                <img src="/images/logo.svg" alt="Logo" />
            </a>
            <button class="lg:hidden p-2 text-white" aria-label="Toggle navigation" id="navbar-toggle">
                <svg class="w-6 h-6" fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
                </svg>
            </button>
            <div class="hidden lg:flex space-x-6">
                <a href="/admin/dashboard/" class="text-white">Home</a>
                <a href="/admin/login">
                    <img src="/images/profileicon.svg" width="30" height="24" alt="Profile" />
                </a>                
            </div>
          
        </div>
    </nav>
</header>