   <!-- Footer Section -->
   <footer class="bg-[#54aad4] text-white py-8">
    <div class="max-w-screen-xl mx-auto grid grid-cols-1 md:grid-cols-4 gap-6">
        
       
 
    <!-- Footer Bottom -->
    <div class="text-center mt-4">
        <p class="mb-0">&copy; 2024 Carry Mart. All rights reserved.</p>
    </div>
</footer>