 <!-- Sidebar -->
 <aside class="w-full md:w-1/5 bg-blue-300 shadow-lg rounded-lg p-6 mb-6 md:mb-0">
    <h2 class="text-lg font-bold mb-4">My Account</h2>
    <ul class="space-y-3">
      <li><a href="#" class="block text-gray-700 hover:bg-cyan-100 px-3 py-2 rounded">Personal Information</a></li>
      <li><a href="/address" class="block text-gray-700 hover:bg-cyan-100 px-3 py-2 rounded">Address</a></li>
      <li><a href="#" class="block text-gray-700 hover:bg-cyan-100 px-3 py-2 rounded">Order</a></li>
      <li><a href="#" class="block text-gray-700 hover:bg-cyan-100 px-3 py-2 rounded">Wallet</a></li>
      <li><a href="#" class="block text-gray-700 hover:bg-cyan-100 px-3 py-2 rounded">Coupons</a></li>
      <li><a href="#" class="block text-gray-700 hover:bg-cyan-100 px-3 py-2 rounded">Password Change</a></li>
      <li><a href="#" class="block text-gray-700 hover:bg-cyan-100 px-3 py-2 rounded">Logout</a></li>
    </ul>
  </aside>