 <!-- Sidebar -->
 <aside class="w-full md:w-1/5 bg-gray-500 shadow-lg p-2 h-max text-white">
    <h2 class="text-lg font-bold mb-4">My Account</h2>
    <ul class="space-y-3 text-white font-semibold">
      <li><a href="/profile" class="block px-3 py-2 hover:bg-gray-600 rounded">Personal Information</a></li>
      <li><a href="/address" class="block px-3 py-2 hover:bg-gray-600 rounded">Address</a></li>
      <li><a href="/orders" class="block px-3 py-2 hover:bg-gray-600 rounded">Orders</a></li>
      <li><a href="/wallet" class="block px-3 py-2 hover:bg-gray-600 rounded">Wallet</a></li>
      <li><a href="/wishlist" class="block px-3 py-2 hover:bg-gray-600 rounded">Wish List</a></li>
<!--       <li><a href="#" class="block px-3 py-2 hover:bg-indigo-400 rounded">Coupons</a></li>
 -->      <li><a href="/reset-password" class="block px-3 py-2 hover:bg-gray-600 rounded">Password Change</a></li>
      <li><form action="/logout" method="POST" style="display: inline;">
        <button class="text-red-700 block hover:bg-gray-600" type="submit">Logout</button>
      </form>
    </li>
      
      
    </ul>
  </aside>
 
  