<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <title>Email</title>
  </head>
  <body class="bg-gray-100">
    <!-- Header -->
   <%- include('../partials/user-header') %>

    <!-- Login Section -->
    <div class="max-w-sm mx-auto my-12 bg-white p-6 rounded-lg shadow-md">
      <h3 class="text-center text-xl font-bold mb-4">Forgot-Password</h3>
      <form onsubmit="postEmail(event)">

        <div class="mb-4">
          <label for="email" class="block text-sm font-medium"> Enter Email</label>
          <input type="email" id="email" name="email" placeholder="Enter email" class="w-full mt-1 p-2 border border-gray-300 rounded">
        </div>
        <div class="flex justify-between mb-4 text-sm">
          <a href="http://localhost:8000/sign-up" class="text-blue-500 hover:underline">Sign up</a>
        </div>
        <button type="submit" class="w-full bg-blue-500 text-white py-2 rounded hover:bg-blue-600" >Continue</button>
      </form>
      <hr class="my-4">
      <div class="text-center">
     </div>
    </div>

    <!-- Footer -->
    <%- include('../partials/user-footer') %>
    
  </body>
</html>
<script>
    // Validation for Login 
function validateEmail() {
    const email = document.getElementById("email").value;
    const emailError = document.getElementById("email-error");
  
    const startsWithNumber = /^[0-9]/.test(email);
  
    if (startsWithNumber) {
      Swal.fire('Error',"Email ID cannot start with a number.","error")
      return false; 
    }
  
    const regex = /^[\w-\.]+@([\w-]+\.)+[\w-]{2,4}$/;
  
    if (!regex.test(email)) {
      Swal.fire("Error","Enter a valid email Id.","error")
        return false;
    } else {
      return true;
    }
  }
  
 
  async function postEmail(event) {
    event.preventDefault();
  
    const isFormValid = validateEmail();
    if (!isFormValid) {
      return;
    }
  
    const email = document.getElementById("email").value; 
    try {
      const response = await fetch("/forgot-password-email", {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify({email}),
      });
  
      const data = await response.json();
      if (response.status == 200) {
          location.href = data.redirectUrl;
      } else {
        Swal.fire("Error",data.message,"error");
      }
    } catch (error) {
      console.log('error');
      Swal.fire('Error','error posting email','error');
    }
  }
  
  
  
  
  
</script>