<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>change-password</title>

    <!-- Tailwind CSS -->
    <link rel="stylesheet" href="/style.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>

<body class="bg-gray-100">
    <!-- Header Section -->
     <%- include('../partials/user-header') %>

    <!-- Main Content -->
    <div class="container mx-auto my-8 max-w-xl">
        <div class="bg-[#eef6f9] p-8 rounded-lg">
            <h3 class="text-center text-2xl font-semibold mb-6">Sign-up</h3>
            <form onclick="postPassword(event)">
               
                <div class="mb-4">
                    <label for="current-password" class="block text-sm font-semibold"> Old Password</label>
                    <input type="password" class="form-control w-full py-2 px-3 rounded" id="current-password" placeholder="Enter current password" name="currentPassword">
                    <div id="current-password-error" class="error-text text-red-500"></div>

                </div>
                <div class="mb-4">
                    <label for="new-password" class="block text-sm font-semibold">Password</label>
                    <input type="password" class="form-control w-full py-2 px-3 rounded" id="new-password" placeholder="Enter new password" name="newPassword">
                    <div id="new-password-error" class="error-text text-red-500"></div>

                </div>
                <div class="mb-4">
                    <label for="confirm-password" class="block text-sm font-semibold">Confirm Password</label>
                    <input type="password" class="form-control w-full py-2 px-3 rounded" id="confirm-password" placeholder="Confirm your password" name="confirmPassword">
                    <div id="confirm-password-error" class="error-text text-red-500"></div>

                </div>
                
                <button type="submit" class="w-full py-2 px-4 bg-blue-600 text-white rounded hover:bg-blue-700">Submit</button>
            </form>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <%- include('../partials/user-footer') %>
    
</body>

</html>
<script>
      function validateNewPassword() {
    const newPassword = document.getElementById("new-password").value;
    const newPasswordError = document.getElementById("new-password-error");
    const regex =
      /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[@$!%*?&#])[A-Za-z\d@$!%*?&#]{8,16}$/;
  
    if (!regex.test(newPassword)) {
      newPasswordError.textContent =
        "Password must be 8-16 characters long, and include a number, uppercase, lowercase, and special character.";
      return false;
    } else {
      newPasswordError.textContent = "";
      return true;
    }
  }
  
  function validateCurrentPassword() {
    const currentPassword = document.getElementById("current-password").value;
    const currentPasswordError = document.getElementById("current-password-error");
    const regex =
      /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[@$!%*?&#])[A-Za-z\d@$!%*?&#]{8,16}$/;
  
    if (!regex.test(currentPassword)) {
      currentPasswordError.textContent =
        "Password must be 8-16 characters long, and include a number, uppercase, lowercase, and special character.";
      return false;
    } else {
      currentPasswordError.textContent = "";
      return true;
    }
  }
  
  function validateConfirmPassword() {
    const newPassword = document.getElementById("new-password").value;
    const confirmPassword = document.getElementById("confirm-password").value;
    const confirmPasswordError = document.getElementById("confirm-password-error");
  
    if (confirmPassword !== newPassword) {
      confirmPasswordError.textContent = "Passwords do not match.";
      return false;
    } else {
      confirmPasswordError.textContent = "";
      return true;
    }
  }
  
  function validateForm() {

    const isNewPasswordValid = validateNewPassword();
    const isConfirmPasswordValid = validateConfirmPassword();
    const isCurrentPasswordValid = validateCurrentPassword();
  
    return (
      isNewPasswordValid && isConfirmPasswordValid && isCurrentPasswordValid 
    );
  }
  
  
  document.getElementById("current-password").addEventListener("input", validateCurrentPassword);
  document.getElementById("new-password").addEventListener("input", validateNewPassword);
  document
    .getElementById("confirm-password")
    .addEventListener("input", validateConfirmPassword);
    
  
async function postPassword(event) {
      event.preventDefault();
    
      const isFormValid = validateForm();
      if (!isFormValid) {
        return;
      }      
      const currentPassword = document.getElementById("current-password").value; 
      const newPassword = document.getElementById("new-password").value; 
      try {
        const response = await fetch("/reset-password", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({currentPassword,newPassword}),
        });
        if (response.ok) {
            const data = await response.json();
        const userConfirmation = await Swal.fire({title:"Success",icon:"success",text:data.message,confirmButtonText:"OK"});
           if(userConfirmation.isConfirmed){
            window.location.href="/profile"
           }
        }else{
            const data =await response.json();
            Swal.fire("Error",data.message,"error")
        }
      } catch (error) {
        Swal.fire('Error',error.message || 'Error changing password','error')
  
      }
    }
     
  
</script>